{% load staticfiles %}
<!-- Margo JS  -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizrr.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nivo-lightbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/count-to.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.textillate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.slicknav.js' %}"></script>

<!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
